{% extends 'layouts.html' %}

{% block contentA %}

<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">Below are the Graphs/Maps</h5>
    <p class="card-text">Find out about the weather, crime rate and more about NC!</p>
  </div>

  <div class="card-footer text-muted"></div>

  <div class="body">
    <h2>Covid Linear Graph</h2>

    <embed src="{{url_for('static',filename='barchart.html')}}" width="1200" height="600">
    <br>
    <h2>Violent Crimes By States</h2>
    <embed src="{{url_for('static',filename='linechart.html')}}" width="1200" height="600">
    <br>
    <h2>House Price Percentage Change Forecasts in NC in 2022</h2>
    <embed src="{{url_for('static',filename='barchartHomeEstimation.html')}}" width="1200" height="600">
    <br>
     <h2>Heat Map Showing Mean Temperature for NC Counties from 1901 to 2000</h2>
    <embed src="{{url_for('static',filename='heatmap.html')}}" width="1200" height="600">
    <br>
  </div>
</div>


<!--footer !-->

<section class="fixed-bottom">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="{{url_for('homepage')}}">Dream Estate Project</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

{% endblock contentA %}